.row{
  padding: 70px 0px 80px 0px ;
  padding-left: 0px;
}

.col-md-2{
  padding: 35px;
  padding-left: 20px;
}
.active{
  border-bottom: 5px solid red;
}

strong{
  font-size: 18px;
}

.col-md-4{
  padding-top: 70px;
  padding-bottom: 86px
}

body{
  background-color: #f4f4f4;
}
footer{
  background-color:  lightgray;
  width: 100%
}

.fa-building-o{
  font-size: 20px;
}
